[submodule "test_interface"]
	path = test_interface
	url = https://gitea.gregshiner.com/GregShiner/unnamed-synth-test-interface
[submodule "dsp"]
	path = dsp
	url = https://gitea.gregshiner.com/GregShiner/unnamed-synth-dsp
